@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body {
    max-width: 100%;
    height: 100vh;
    background-color: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: calc(1200px / 3.5) calc(1200px / 3.5) calc(1200px / 3.5);
    grid-template-rows: calc(70px) calc(280px) calc(210px) calc(140px);
    grid-gap: 20px;
    height: 900px;
    place-content: center;
}

.grid-item-1 {
    grid-column: span 2;
}

.grid-item-1 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.grid-item-2 {
    grid-row: span 2;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5rem;
}

.grid-item-2 h2 {
    color: hsl(35, 77%, 62%);
    font-size: 38px;
    margin: 10px 0;
}

.grid-item-2 h3 {
    font-size: 20px;
    margin: 10px 0;
    margin-top: 35px;
}

.grid-item-2 h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.grid-item-2 h3:first-of-type {
    margin-top: 18px;
}

.grid-item-2 p {
    margin: 0 0;
    padding-bottom: 35px;
}

.grid-item-2 hr {
    width: 100%;
}

.grid-item-2 p {
    border-bottom: 1px solid hsl(237, 21%, 80%);
    color: hsl(237, 21%, 80%);
}

.grid-item-2 p:last-child {
    border-bottom: none;
}

.grid-item-3 {
    font-weight: 800;
    font-size: 40px;
    max-width: 9ch;
}

.grid-item-3 h1 {
    margin: 0;
    margin-top: 10px;
}

.grid-item-4 p {
    margin: 0;
    margin-top: 14px;
    color: hsl(236, 13%, 42%);
}

.grid-item-4 button {
    background-color: hsl(5, 85%, 63%);
    color: white;
    letter-spacing: 1.5px;
    margin: 40px 0;
    text-transform: uppercase;
    width: 180px;
    height: 40px;
    font-weight: 700;
    border: none;
}

.grid-item-4 button:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.grid-item-5 * {
    margin: 0;
}

.grid-item-6 * {
    margin: 0;
}

.grid-item-7 * {
    margin: 0;
}

.objFit {
    object-fit: contain;
    max-height: 100%;
}

.special-grid-item {
    display: flex;
}

.special-item * {
    margin: 14px 0;
    box-sizing: border-box;
    padding-left: 1.25rem;
}

.special-item h2 {
    font-size: 24px;
    color: hsl(233, 8%, 79%);
}

.special-item p {
    line-height: 24px;
}

.special-item h3:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.grid-item-0 {
    grid-column: span 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.special-text {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    padding-left: 2rem;
    display: block;
}

.navbar-links li a:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.navbar-links .close-button {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

.toggle-button,
.close-button {
    display: none;
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.toggle-button .material-symbols-outlined {
    font-size: 40px !important;
}

.close-button .material-symbols-outlined {
    font-size: 40px !important;
}

@media (width <=1130px) {
    .gridContainer {
        grid-template-columns: calc(950px / 3.5) calc(950px / 3.5) calc(950px / 3.5);
        grid-template-rows: calc(55px) calc(220px) calc(165px) calc(110px);
    }

    .grid-item-2 {
        padding: 1rem;
    }

    .grid-item-2 h2 {
        font-size: 25px;
        margin: 0;
    }

    .grid-item-2 h3 {
        font-size: 15px;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 6px;
    }

    .grid-item-2 p {
        font-size: 13px;
        margin: 0;
        padding-bottom: 28px;
    }

    .grid-item-3 {
        font-size: 32px;
        max-width: 9ch;
    }

    .grid-item-3 h1 {
        margin: 0;
    }

    .grid-item-4 p {
        font-size: 13px;
        margin: 0;
        letter-spacing: 1px;
    }

    .grid-item-4 button {
        font-size: 12px;
        margin: 0;
        margin-top: 18px;
        width: 160px;
        height: 34px;
    }

    .special-item * {
        margin: 0;
        box-sizing: border-box;
        padding-left: 1rem;
    }

    .special-item h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .special-item h3 {
        font-size: 13px;
        margin-bottom: 6px;
    }

    .special-item p {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (width <=900px) {
    .gridContainer {
        padding: 0 10px;
    }

    .grid-item-0 {
        order: 0;
        padding-top: 0;
    }

    .grid-item-1 {
        order: 1;
    }

    .grid-item-2 {
        order: 4;
    }

    .grid-item-3 {
        order: 2;
    }

    .grid-item-4 {
        order: 3;
    }

    .grid-item-5 {
        order: 5;
    }

    .grid-item-6 {
        order: 6;
    }

    .grid-item-7 {
        order: 7;
        padding-bottom: 12px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .gridContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 350px;
    }

    .grid-item-1 img {
        width: 100%;
        height: 250px;
    }

    .grid-item-3 {
        max-width: 13ch;
    }

    .objFit {
        height: 120px;
    }

    .grid-item-4 button {
        font-size: 12px;
        margin: 0;
        margin: 18px 0;
        width: 160px;
        height: 34px;
    }

    .grid-item-2 {
        margin-bottom: 20px;
    }

    .special-item h3 {
        font-size: 18px;
    }

    .special-item p {
        font-size: 15px;
    }

    .grid-item-2 h3 {
        font-size: 18px;
    }

    .grid-item-2 p {
        font-size: 15px;
    }

    .grid-item-4 p {
        font-size: 15px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar .navbar-logo-toggle .material-symbols-outlined {
        margin-top: 10px;
    }

    .navbar .special-text {
        display: flex;
    }

    .navbar-links {
        display: none;
        max-width: 100%;
        width: 160px;
        height: 100%;
        position: absolute;
        padding-top: 5rem;
        background-color: hsl(36, 100%, 99%);
        width: 300px;
        margin-left: 150px;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-links {
        height: 1526px;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding-left: 2rem;
        margin-top: 2rem;
    }

    .navbar-links ul li {
        padding: 1rem 0;
        font-size: 17px;
    }

    .navbar-links ul li a {
        padding-left: 0;
    }

    .navbar .navbar-logo-toggle {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-links.activator {
        display: flex;
    }

    .close-button.closer-activator {
        display: inline-block;
    }

    .close-button .material-symbols-outlined {
        position: absolute;
        top: 1%;
        right: 16%;
    }

    .gridContainer.fade {
        background-color: rgba(0, 0, 0, 0.2);
    }
}